@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  background-color: #5e98ab;
  background-image: linear-gradient(to bottom, rgb(216, 185, 255) , white);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin: 50px;
  padding: 50px;
  background-color: white;
  border-radius: 50px; 
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Input fields */

input {
  font-family: "Poppins", Arial, sans-serif;
  padding: 5px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none
}

.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-wrapper input {
  margin: 10px;
  flex: 1;
  padding: 5px;
}

/* Confirm button */

.confirmbutton {
  font-family: "Poppins", Arial, sans-serif;
  background-color: rgb(54, 19, 93);
  color: white;
  padding: 0;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  border-radius: 10px;
}

.confirmbutton:hover {
  opacity: 1;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: rgb(115, 59, 194);
  color: white;
  transform: translateY(-6px);
}

.confirmbutton:active .front {
  transform: translateY(-1px);
}

/* Footer */

a {
  font-size: 20px;
  font-family: "Poppins", Arial, sans-serif;
  color: rgb(104, 13, 208);
  text-decoration: none;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #7d7d7d;
  text-align: center;
}