@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #5e98ab;
  background-image: linear-gradient(to bottom, #97d2e6 , #fddeff);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: "Poppins", "Roboto", Arial, Helvetica, sans-serif;
}

/* Container */
.container {
  margin: 50px;
  padding: 50px;
  background-color: white;
  min-width: 50vw;
  border-radius: 50px; 
}

/* Input fields */
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none
}

input[type="date"] {
  width: 30%;
}

/* Confirm button */
.confirmbutton {
  font-family: "Poppins", "Roboto", Arial, Helvetica, sans-serif;
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  border-radius: 10px; 
}

.confirmbutton:hover {
  opacity: 1;
}

a {
  font-family: "Poppins", "Roboto", Arial, Helvetica, sans-serif;
  color: black
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #7d7d7d;
  text-align: center;
}