@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  background-color: #5e98ab;
  background-image: linear-gradient(to bottom, #97d2e6 , #fddeff);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: "Poppins", Arial, sans-serif;
}

.container {
  margin: 50px;
  padding: 50px;
  background-color: white;
  border-radius: 50px; 
  width: 43rem;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}


/* Input fields */
input {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none
}

input.name {
  
}

.date-input {
  font-family: "Poppins", Arial, sans-serif;
  color: rgb(0, 90, 120);
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(220, 243, 251);
}

.datepicker-container {
  position: relative;
  font-family: "Poppins", Arial, sans-serif;
}

.datepicker-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.month-input {
  font-family: "Poppins", Arial, sans-serif;
  color: rgb(0, 90, 120);
  max-width: 120px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(220, 243, 251);
}

.year-input {
  font-family: "Poppins", Arial, sans-serif;
  color: rgb(0, 90, 120);
  max-width: 64px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(220, 243, 251);
}

.datepicker-header button {
  background-color: white;
  color: rgb(3, 176, 234);
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.datepicker-header button:hover {
  background-color: rgb(3, 176, 234);
  color: white;
}

.datepicker-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.datepicker-footer button {
  font-family: "Poppins", Arial, sans-serif;
  border-radius: 10px;
  border: none;
  padding: 3px 10px;
  opacity: 80%;
}

.datepicker-footer button:hover {
  opacity: 100%;
}

.datepicker-footer button.select{
  color: white;
  background-color: rgb(3, 176, 234);
}

.days, .dates {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  gap: 10px;
  margin-block: 10px;
}

.dates button {
  background: white;
  color: rgb(3, 176, 234);
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
}

.dates button:hover {
  background: rgb(244, 244, 244);
  border: none
}

.dates button.selected {
  background: rgb(0, 114, 145);
  color: white;
}

.dates button.today {
  background: rgb(220, 243, 251);
  color: rgb(2, 135, 183);
}

.days span {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

/* Confirm button */
.confirmbutton {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #04ab6e;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  border-radius: 10px; 
}

.confirmbutton:hover {
  opacity: 1;
}

a {
  font-family: "Poppins", Arial, sans-serif;
  color: black
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #7d7d7d;
  text-align: center;
}